.ap {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin: 0 3rem;
}

h2 {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
}
.plus1 {
	width: 9px;
	height: 9px;
	line-height: 0;
	border: 1px solid #dedede;
	background: #fff;
}
.plus {
	width: 9px;
	height: 9px;
	line-height: 0;
	background: #fff;
	border: 1px solid #aaa;
	cursor: pointer;
	display: inline-block;
	img {
		display: block;
		margin: 1px;
		opacity: .6;
	}
}
.flex {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}
.link {
	color: #267DFF;
	cursor: pointer;
	padding-right: 15px;
}
td.first {
	background-image: url('@/assets/dot.png');
	background-repeat: repeat-y;
	background-position: top 0px left 6px;
	&.second {
		background-image: url('@/assets/dot1.png');
		background-repeat: repeat-y;
		background-position: top 0px left 6px;
		padding-left: 24px;
	}
	&.third {
		background-image: url('@/assets/dot2.png');
		background-repeat: repeat-y;
		background-position: top 0px left 6px;
		padding-left: 48px;
	}
	&.forth {
		background-image: url('@/assets/dot3.png');
		background-repeat: repeat-y;
		background-position: top 0px left 6px;
		padding-left: 72px;
	}
	&.fifth {
		background-image: url('@/assets/dot4.png');
		background-repeat: repeat-y;
		background-position: top 0px left 6px;
		padding-left: 96px;
	}
}
.tab {
	margin-top: 2rem;
	width: 100%;
	font-size: .9rem;
	border-collapse: collapse;
	th {
		text-align: left;
		border-bottom: 1px solid #ccc;
		font-size: .80rem;
		font-weight: 400;
		color: #888;
		padding-bottom: 5px;
	}
	tr {
		&:hover {
			background: #efefef;
		}
	}
	td {
		padding: 8px 0;
		border-bottom: 1px solid #eee;
	}
}
